<div class="route1">
  <nav>
    {{#link-to 'wall.viewer'}}Viewer engine (link-to){{/link-to}}&nbsp;|&nbsp;
    {{#link-to 'wall.host'}}Host engine (link-to){{/link-to}}&nbsp;|&nbsp;
  </nav>

  {{language-selector locale="en"}}

  {{outlet}}
</div>
