<div class="route1">
  <nav>
    {{#link-to 'wall.viewer'}}viewer{{/link-to}}&nbsp;|&nbsp;
    {{#link-to 'wall.host'}}host{{/link-to}}&nbsp;|&nbsp;
  </nav>

  {{language-selector locale="en"}}

  {{outlet}}
</div>
