<div class="engine2">
  <h3>Host engine</h3>

  <nav>
    {{#link-to-external "wall"}}Wall engine{{/link-to-external}}   &nbsp;|&nbsp;
    {{#link-to 'viewer'}}Viewer engine{{/link-to}}
  </nav>

  {{outlet}}
</div>
