<div class="app-root">
  <h1>Root container</h1>

  <nav>
    {{#link-to 'profile'}}Profile engine (link-to){{/link-to}}&nbsp;|&nbsp;
    {{#link-to 'wall.wall' 'user'}}Wall engine (link-to){{/link-to}}
  </nav>

  {{modal-dialog}}

  {{outlet}}
</div>
